# Ignore Gradle project-specific cache directory
.gradle
.gradle-home/

# Ignore Gradle build output directory
build
/app/build

# Ignore Kotlin plugin data
.kotlin

# Android Studio local files
local.properties
captures/
.idea/
